<mat-toolbar class="mat-elevation-z4" color="primary">
  <span>The vote exposed</span>
</mat-toolbar>

<form [formGroup]="voterSearch">
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input
      formControlName="firstName"
      matInput
      placeholder="Legal First Name"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input formControlName="lastName" matInput placeholder="Legal Last Name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Driver's License</mat-label>
    <input
      type="number"
      formControlName="dl"
      matInput
      placeholder="Driver's License"
    />
  </mat-form-field>

  <div class="error-message">{{ errorMessage }}</div>

  <div class="button-container">
    <button type="reset" mat-raised-button color="accent" (click)="resetForm()">
      Reset
    </button>

    <button
      type="submit"
      (click)="submitForm(voterSearch)"
      mat-raised-button
      color="primary"
    >
      Submit
    </button>
  </div>
</form>
<router-outlet></router-outlet>
